$input-background: rgba(57, 63, 84, 0.8);
$input-text-active: #bfd2ff;

.main {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  &__input {
    width: 40%;
    margin: 20px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: $input-background;
    color: $input-text-active;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
    border-radius: 10px;
    @media (max-width: 450px) {
      width: 60%;
    }
  }
}
